html {
  box-sizing: border-box;
}

main {
  background: rgb(36, 46, 64);
  width: fit-content;
  height: fit-content;
  margin: 2% auto;
  border-radius: 1rem;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.display {
  width: 100%;
  height: 4rem;
  color: white;
  display: flex;
  justify-content: flex-end;
  background: grey;
  border-radius: 1rem;
}

.display span {
  display: flex;
  align-items: center;
  margin-right: 5%;
  font-size: 3rem;
  width: fit-content;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 20px;
}

.buttons button {
  background: rgb(20, 26, 37);
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  width: 100%;
  /* height: 100%; */
  cursor: pointer;
}

.buttons .math-symbol {
  background: orange;
}

.buttons .reset-symbol {
  background: red;
}
